* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Crimson Text', serif;
  background-color: #000;

}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;

}
/* .nav {
  display: flex;
  align-items: center;
} */
.title {
  align-items: center;
  display: flex;
  padding: 20px 0;
  text-align: left;
  background-color: #000;
  color: #fff;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 600;
}


#kino {
  color: #fff;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#hub {
  color: #000;
  background-color: #ff9a00;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.logo {
  margin-left: 2%;
  display: flex;
}
.header__input input {
  display: flex;
  width: 270px;
  padding: 7px 10px;
  margin-left: 15px;
  color: #fff;
font-weight: 700;
  outline: none;
  border: 1px solid #ff9a00;
  border-radius: 5px;
  background-color: #0d1117;
}

.header__input {
  position: relative;
}





.a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.a::after {
  content: "";
  position: absolute;
  background-color: #ff9a00;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}

.a:hover {
  color: #ff9a00;
}

.a:hover::after {
  width: 100%;
  transition: 0.3s;
}


ul {
  height: 10%;
  width: 70px;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
  margin-left: 28%;
}

.content {
  display: flex;
  justify-content: space-around;
  margin: 12%;
}

h3 {
  color: #ff9a00;
  text-align: center;
  margin-top: 20px;
  font-size: large;
  text-decoration: underline;
  font-family: Montserrat;
}

h3:hover {
  transition: .5s;
  background-color: #ff9a00;
  color: #000;
  border-radius: 140px;

}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ff9a00;
}

.content1 {}

.frame {
  border-radius: 5px;
  border: 1px solid #ff9a00;
}


@media (max-width:720px) {
  .header__input{
    display: none;
  }
#menu{
  display: none;
  
}
.frame{
 margin: 25px;
  width: 250px;
  height: 150px;
}

.content{
 margin: 25px 15%;
}
.logo{
  text-align: center;
}
#kino{
  font-size: 30px;

}
#hub{
  font-size: 30px;
}
.container{
  margin: 10% auto;
}
.hamburger {
  cursor: pointer;
  position: relative;
  margin: -25px 650px;

  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #ff9a00;
}
h3{
  font-size: 12px;
  margin-top: 0;
}
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  border-radius: 2px;
  background-color: #ff9a00;
  position: absolute;
}

.hamburger::after {
  top: 10px;
  transition: 0.2s;
}

.hamburger::before {
  top: -10px;
  transition: 0.2s;
}

.hamburger:active::after {
  transform: translateX(-50px);
  background-color: transparent;
}


.hamburger:active::before {
  transform: translateX(-50px);
  background-color: transparent;
}

}
@media (max-width: 450px) {
  .header__input{
    display: none;
  }
  .logo{
    margin-left: 50%;
  }
  #kino{
    font-size: 20px;
  }
  #hub{
    font-size: 20px;
  }
 
  .container{

    margin: 20% auto;
  }
  .hamburger {
    cursor: pointer;
   position: relative;
    margin: -25px 500px;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: #ff9a00;
  }
  h3{
    font-size: 9px;
    margin-top: 0;
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: #ff9a00;
    position: absolute;
  }
  
  .hamburger::after {
    top: 10px;
    transition: 0.2s;
  }
  
  .hamburger::before {
    top: -10px;
    transition: 0.2s;
  }
  
  .hamburger:active::after {
    transform: translateX(-50px);
    background-color: transparent;
  }
  
  
  .hamburger:active::before {
    transform: translateX(-50px);
    background-color: transparent;
  }
  .frame{
    margin: 25px;
     width: 200px;
     height: 100px;
   }
   .content1{
    margin: 25px 15%;
   }
   .content{
     margin: 0 78%;
   }
}